* {
    font-family: Arial, Helvetica, serif;
}

a {
    text-decoration: none;
    color: #8c195f;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
    border-radius: 15px;
    line-height: 1.5;
    height: calc(1.5em + .75rem + 2px)
}
input::placeholder {
    font-size: 30px;
    color: black;
}

input:focus {
    border: none;
    background-color: #f2f2f2;
    font-weight: bold;
}

.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1230px;

}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.navigation {
    margin-right: 32px;
}
.navigation ul {
    display: none;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}

.quicklinks {
    font-weight: bold;
}

ul.quicklinks {
    padding-left: 40px;
}
.quicklinks ul {
    display: none;
}
.quicklinks li {
    display: inline-block;
}
.quicklinks li::after {
    content: "|";
}
.quicklinks li:last-child::after {
    content: "";
}

.header {
    max-height: 50px;
    margin-top: 32px;
}

.breadcrumb {
    font-weight: bold;
    font-size: 13px;
}

.slider img {
    max-width: 100%;
}

.slider-hidden {
    display: none;
}

figure {
    margin: 0;
}

.introduction {
    font-size: 22px;
    line-height: 28px;
    padding-bottom: 75px;
}
.date {
    font-size: 120%;
    padding-bottom: 10px;
}

.contact-box {
    background-color: #f2f2f2;
    padding: 20px;
    max-height: 200px;
}

.btn {
    background-color: transparent;
    border: 1px solid #8c195f;
    border-radius: 18px;
    padding: 7px 35px 5px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 13px;
    color: #8c195f;
}

.main-container {
    padding-bottom: 32px;
}
.footer-container {
    padding-top: 32px;
    background-color: #f2f2f2;
}
.footer-additional {
    padding-top: 64px;
}

.nav-item {
    font-size: 1.375rem;;
    font-weight: bold;
}

.contact-link {
    margin: 15px 0 0 0;
}